.Rhistory
.RData
.Ruserdata
.Rproj.user/
.quarto/
rendered/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
data_raw/*
!data_raw/.gitkeep
data_processed/*
!data_processed/.gitkeep
*.docx~
~$*.docx

/.quarto/
**/*.quarto_ipynb
